[Unit]
Description="Set the wallpaper"

[Service]
Type=oneshot
ExecStart=feh --no-fehbg --bg-fill ${HOME}/media/images/wallpapers/cppn-circle-2.png ${HOME}/media/images/wallpapers/scott-uminga-veins-of-gold.jpg

[Install]
WantedBy=xsession.target
