configuration {
    modi: "drun,run,ssh,tmux:/home/aidan/bin/for_robots/rofi/tmux.sh,calc";
	lines: 15;
    terminal: "kitty --single-instance";
	font: "Custom Regular Iosevka Fixed 20";
	bw: 2;
	drun-show-actions: true;
	sort: false;
	sorting-method: "fzf";
	sidebar-mode: true;
	parse-hosts: true;
	matching: "fuzzy";
	scroll-method: 1;
	kb-primary-paste: "Control+V,Control+Shift+V,Shift+Insert";
    show-icons: true;
    icon-theme: "Flat-Remix-Blue";
}
@import "~/.config/rofi/theme.rasi"
